/* Container */
.supported__container,
.testimonials__container,
.question__container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Umumiy Title style */
.supported__title,
.testimonials__title,
.question__info-title {
    font-family: Arial, sans-serif;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

/* Button umumiy */
button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
}


.users {
    padding-top: 85px;
    padding-bottom: 80px;
    background-color: #000000;
    color: white;
}

.users__container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.users__title {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;
}


.users__row {
    display: flex;
    align-items: center;
    gap: 40px;
}

.users__col {
    background-color: #222222;
    padding: 25px 10px 30px 24px;
    border-radius: 10px;
    max-width: 360px;
}

.users__cols {
    background-color: #222222;
    padding: 45px 10px 18px 24px;
    border-radius: 10px;
    max-width: 360px;
}

.users__colss {
    background-color: #222222;
    padding: 48px 10px 41px 24px;
    border-radius: 10px;
    max-width: 360px;
}
.users__col-title {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: -90px;
    margin-bottom: 6px;
}

.user-tit {
    margin-top: -70px;
}

.users__col-subtitle {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.users__col-subtitles {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 100%;
}
.users__col-list {
    font-family: Arial , sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
}


.track {
    display: flex;
    gap: 10px;
  }

@media (max-width:768px) {
    .users__title {
        font-size: 32px;
    }
    .users__col-title {
        font-size: 49px;
    }
    .users__col-subtitle {
        font-size: 16px;
    }
    .users__col-list {
        font-size: 10px;
    }
    .users__title>span {
        color: #FCCC50;
    }


    .carousel {
        width: 100%;
        max-width: 1000px;
        overflow: hidden;
      }

      .track {
        display: flex;
        gap: 20px;
        animation: scroll 3s linear infinite;
      }

      .track img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
      }

      /* Cheksiz aylanish */
      @keyframes scroll {
        from { transform: translateX(0); }
        to   { transform: translateX(-50%); }
      }

}
