.footer__list,
.main__container {
  align-items: center;
  display: flex;
}
.footer__link,
.footer__list,
.main__icon,
.main__sub-icon {
  height: 26px;
  display: flex;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Alexandria;
  color: #fff;
}
.main {
  padding: 20px;
  width: 100%;
}
.main__container {
  max-width: 1240px;
  width: 100%;
  padding: 80px 40px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 20px;
  padding-bottom: 0;
  justify-content: space-between;
}
.main__left {
  max-width: 555px;
  width: 100%;
  margin-bottom: 50px;
}
.main__icon,
.main__text,
.main__title {
  margin-bottom: 20px;
}
.main__title {
  font-family: Alexandria, sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 900;
}
.main__sub {
  font-family: Alumni Sans, sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 600;
}
.main__text {
  font-family: Alexandria, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  max-width: 326px;
}
.main__hero {
  max-width: 502px;
  width: 100%;
  height: auto;
}
.footer__list {
  gap: 16px;
  list-style: none;
  margin-top: auto;
}
.footer__link {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: #fccc52;
}
.footer__link:hover {
  color: #fff;
  background-color: #fccc52;
}
@media (max-width: 1080px) {
  .main__hero {
    max-width: 402px;
    width: 100%;
    height: auto;
  }
  .main__title {
    font-size: 30px;
  }
  .main__left {
    max-width: 400px;
  }
  .main__sub {
    font-size: 23px;
  }
}
@media (max-width: 800px) {
  .main__hero {
    max-width: 350px;
    width: 100%;
    height: auto;
  }
  .main__container {
    padding: 40px 20px 0;
  }
}
@media (max-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .main__hero,
  .main__left {
    max-width: 480px;
  }
  .main__title {
    font-size: 23px;
    margin-bottom: 16px;
  }
  .main__sub-icon {
    width: 24px;
  }
  .main__text {
    font-size: 14px;
    line-height: 130%;
  }
  .main__icon {
    width: 60px;
    margin-bottom: 0;
  }
  .main__icon:first-child {
    width: 23px;
  }
}
.main__icon {
  width: 36px;
}
.main__container,
.main {
  padding-top: 20px;
}
.main {
  padding: 10px;
}
.main__left {
  margin-bottom: 0;
}
.main__sub-box {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .main__icon {
    margin-bottom: 0;
  }
}
